<div class="container">
  <h1>Article 1</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi amet explicabo numquam commodi, aspernatur id omnis atque unde quisquam non vitae earum deleniti quae adipisci accusamus accusantium nemo! Necessitatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi amet explicabo numquam commodi, aspernatur id omnis atque unde quisquam non vitae earum deleniti quae adipisci accusamus accusantium nemo! Necessitatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi amet explicabo numquam commodi, aspernatur id omnis atque unde quisquam non vitae earum deleniti quae adipisci accusamus accusantium nemo! Necessitatibus.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sequi amet explicabo numquam commodi, aspernatur id omnis atque unde quisquam non vitae earum deleniti quae adipisci accusamus accusantium nemo! Necessitatibus.</p>
</div>
